<div>
<div class="col-xs-12">
    <div class="col-xs-10 col-sm-8 col-md-5">
        <form role="form">
            <div class="form-group col-xs-12">
                <label>Enter your post code</label>
                <input type="text" class="form-control" ng-model="selectedPostCode" />
            </div>
            <div class="form-group col-xs-12">
                <button type="button" class="btn btn-success search-button form-control" ng-click="getServiceCentres()">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-10 col-sm-8 col-md-5">
        <div class="panel panel-success">
            <div class="panel-heading">Nearest Service Centres</div>
            <div class="panel-body">
                <div ng-repeat="x in serviceCentres">
                    <p>
                        <b>{{x.Name}}</b>
                    </p>
                    <ul>
                        <li>Address: {{x.Address}}</li>
                        <li>Image Url: {{x.ImageUrl}}</li>
                        <li>Latitude: {{x.Latitude}}</li>
                        <li>Longitude: {{x.Longitude}}</li>
                        <li>Phone: {{x.Phone}}</li>
                        <li>Url: {{x.Url}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
